// secrets.h.example
// Diese Datei ist eine Vorlage für eure lokalen WLAN- und MQTT-Einstellungen.
// Benennt diese Datei in "secrets.h" um und füllt die korrekten Werte aus!
// Stellt sicher, dass "secrets.h" in eurer .gitignore-Datei enthalten ist,
// um sensible Daten nicht in die Versionskontrolle hochzuladen.

#ifndef SECRETS_H
#define SECRETS_H

// WLAN-Zugangsdaten
#define WIFI_SSID           "Dein_WLAN_SSID"        // Ersetze durch deine WLAN-SSID
#define WIFI_PASSWORD       "Dein_WLAN_Passwort"    // Ersetze durch dein WLAN-Passwort

// MQTT Broker-Einstellungen
#define MQTT_BROKER_IP      "192.168.X.X"      // Ersetze durch die IP deines Docker-Hosts
#define MQTT_BROKER_PORT    1883                  // Standard-MQTT-Port
#define MQTT_USERNAME       "guest"               // Dein MQTT-Benutzername
#define MQTT_PASSWORD       "guest"               // Dein MQTT-Passwort

// Eindeutige Geräte-ID für diesen ESP32
#define DEVICE_ID           "ESP32_ID"       // Eine eindeutige ID für dieses Gerät

#endif // SECRETS_H