.nav-icon-button {
  @apply border border-transparent rounded p-4;

  &.selectable {
    @apply hover:border-neutral-500 hover:text-primary-hover active:text-primary-active dark:hover:border-neutral-400 dark:hover:text-primary-lightHover dark:active:text-primary-lightActive;
  }

  &.is-active {
    @apply border-neutral-300 dark:border-neutral-700 pointer-events-none;
  }
}
